.btn{
    background-color: skyblue;
    text-decoration: none;
    width: 80px;
    height: 40px;
    color: azure;
    border-radius: 10%;
    justify-content: center;
    border-color: skyblue;    


}
.input{
    background-color: blanchedalmond;
    width: 200px;
    height: 40px;
    color: rgb(68, 16, 253);
    text-decoration: none;
    justify-content: center;
border-color: antiquewhite;    
border-radius: 5%;
align-items: center;

    



}
.container{
    background-color: rgb(218, 114, 18);
   border-radius: 2%;
   width: 300px;
   height: 100px;
   margin-top: 5%;
   justify-content: center;
   padding-left: 5%;
   padding-top: 5%;
   padding-right: 5%;
   margin-right: 5%;
   margin-left: 30%;
    
}
.imgcontainer{
    display: flex;
width: 100%; 
flex-wrap: wrap;  
padding-left: 5%; 
gap: 1%;
margin-top: 4%;

}
.imgcontainer img{
    width: 200px;
    height: 300px;
    gap: 50%;
    display: flex;
    border-radius: 5%;
row-gap: 5%;
margin-top: 2%;
}
.heading{
    justify-content: center;
    padding-left: 40%;
    text-shadow: 5cm;
color: rgb(192, 32, 32);
transform: rotate(5);
}
.heading::hover{
    color: aquamarine;
    transition-duration: 5ms;

}